body {
    margin: 0;
    padding: 0;
    font-family: 'SourceSansPro', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;  
    min-height: 100vh;
    
}
h1 {
    padding: 0.5em 0;
    border-bottom: 2px solid #e0e0e0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #3a3a3a;  /* Un tono oscuro de gris para una mejor legibilidad */
}

#p1 {
    line-height: 1.6;  /* Aumenta el espacio entre líneas para mejorar la legibilidad */
    max-width: 800px;  /* Ancho máximo del párrafo para evitar que las líneas sean demasiado largas en pantallas anchas */
    margin: 20px 0;
    color: #4a4a4a;  /* Un tono un poco más claro de gris que el título */
}
#img1{
    width: 400px;
    height: 300px;
    margin: 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

#container{
    width: 800px;
    height: 100%;
    margin: 40px;
    padding: 0px;
    background-color: #f5f6ea;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

}
#cont1{
    width: 140px;
    padding: 20px;
    font-size: larger;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    margin: 10px;
    border-radius: 10px; 
    transition: transform 0.2s; 
    
}	
#cont1:hover {
    transform: translateY(-5px);  
}
#p2{
    color: #0b0b0b;
    font-size: 1em;
    font-weight: 40;
    text-align: center;
    margin: 4px;
    padding: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}
#p3{
    margin-left: 7px;
}
#container2{
    width: 800px;
    height: 100%;
    margin: 40px;
    padding: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
#container3{
    width: 800px;
    height: 100%;
    margin: 40px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    
}
li{
    list-style: symbols(#0b0b0b);
    margin: 10px;
    padding: 0px;
    font-family: 'SourceSansPro',Helvetica,sans-serif;

}

#p4 {
    background-color: #f5f6ea; /* un fondo diferente para destacar el número de paso */
    padding: 5px 10px;
    border-radius: 50%; /* hace que el fondo sea circular */
    margin-right: 10px;
    font-weight: bold;
    display: inline-block; /* para que el número y el texto estén en la misma línea */
}

#li2{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'SourceSansPro',Helvetica,sans-serif;

}
#div1 {
    border: 1px solid #e0e0e0; 
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px; 
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1); 
    
}

h2{
    
    margin-left: 70px;
}
.container3{
    display: flex;
    flex-direction: row;
}
#img2{
    width: 400px;
    height: 300px;
    margin: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}